#####################################
#/etc/systemd/system/gunicorn.service
#####################################

[Unit]
Description=gunicorn daemon
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User={{ansible_env.USER}}
Group={{ansible_env.USER}}
RuntimeDirectory=gunicorn
WorkingDirectory={{repo_dir}}
ExecStart={{repo_dir}}/venv/bin/gunicorn --pid /run/gunicorn/pid  -t 5 -w 3 web.wsgi:app --reload
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target